@import '~bootstrap/scss/bootstrap.scss';

.readPost:hover path{
  stroke: black;
}
.readPost .textReadPost{
  color: rgb(110, 113, 120);
}
.readPost:hover .textReadPost{
  color: black;
}

.nameCommentator:hover{
  text-decoration: underline;
}

.comment{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 65px;
  @include media-breakpoint-down(sm) {
    max-height: 55px;
  }
}

.imgContainer{
  display: flex;
  justify-content: center;
  max-height: 500px;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    max-height: 350px;
  }
}

.imgContainer img{
  width: 100%;
  object-fit: cover;
}

div.dialog{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  max-height: 80%;
  max-width: none;
}

div.modalContent{
  width: auto;
  max-width: 99.9%;

}



.cardBody, .timePost{
  font-size: 14px;
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}