.readPost:hover path{
  stroke: black;
}
.readPost .textReadPost{
  color: rgb(110, 113, 120);
}
.readPost:hover .textReadPost{
  color: black;
}

.nameCommentator:hover{
  text-decoration: underline;
}

.comment{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 65px;
}

.imgContainer{
  display: flex;
  justify-content: center;
  max-height: 500px;
  overflow: hidden;
}

.imgContainer img{
  width: 100%;
  object-fit: cover;
}

.dialog{
  display: flex;
  justify-content: center;
  width:auto !important;
  height: auto !important;
  max-width: 80% !important;
  max-height: 80% !important;
}

.modalContent{
  width: auto !important;
}