@import './custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

html, body {height: 100%;}

html {margin-right: calc(-1 * (100vw - 100%));}

body{overflow-x: hidden;}

#root{min-height: 100%;}

.wrapper{min-height: 100%;}

a:hover{color: black;}

.cur-point{cursor: pointer;}



