@import '~bootstrap/scss/bootstrap.scss';

.notes, .serviceDropdown .arrowIcon path {
  stroke: gray;
}
.notes:hover, .buttonBack:hover .arrowIcon path {
  stroke: black;
}

.serviceDropdown .serviceIcon path, .bell {
  fill: gray;
}

.serviceDropdown:hover .serviceIcon path, .notif:hover .bell {
  fill: black;
}

.show .serviceIcon path, .show .notif path{
  fill: #2375E1 !important;
}

.show .arrowIcon path{
  stroke: #2375E1 !important;
}

.serviceDropdown .arrowIcon {
  @include media-breakpoint-down(sm) {
    transform: rotate(180deg);

  }
}

.serviceDropdown:hover .arrowIcon path {
  @include media-breakpoint-up(md) {
    stroke: black;
  }
}